@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: MontserratB;
  src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: MontserratT;
  src: url('../fonts/Montserrat-Thin.ttf');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-appearance: none;
}
* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: Montserrat;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@-webkit-keyframes mouse {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
@keyframes mouse {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
@-webkit-keyframes trail_ {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes trail_ {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@-webkit-keyframes particle_ {
  from {
    -webkit-transform: rotateX(90deg) rotateY(0deg);
            transform: rotateX(90deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(90deg) rotateY(-360deg);
            transform: rotateX(90deg) rotateY(-360deg);
  }
}
@keyframes particle_ {
  from {
    -webkit-transform: rotateX(90deg) rotateY(0deg);
            transform: rotateX(90deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(90deg) rotateY(-360deg);
            transform: rotateX(90deg) rotateY(-360deg);
  }
}
@-webkit-keyframes nucleus_ {
  0%,
  100% {
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
  }
  50% {
    -webkit-box-shadow: 0 0 25px #fff;
            box-shadow: 0 0 25px #fff;
  }
}
@keyframes nucleus_ {
  0%,
  100% {
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
  }
  50% {
    -webkit-box-shadow: 0 0 25px #fff;
            box-shadow: 0 0 25px #fff;
  }
}
body {
  overflow: hidden;
}
body.active {
  overflow: auto;
  overflow-x: hidden;
}
body.active .preloader {
  -webkit-animation: goup 1.2s 1 ease-in-out forwards;
          animation: goup 1.2s 1 ease-in-out forwards;
}
body.active section.mainbanner .holder .info {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
body.active section.mainbanner .holder h1 {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #00B5EE;
  outline: none;
  border-radius: 10px;
}
section.mainbanner {
  width: 100%;
  padding: 0 15px;
  padding-top: 8%;
  height: 100vh;
  min-height: 700px;
  max-height: 1100px;
  background: url('../img/bg1.jpg') center / cover no-repeat;
  position: relative;
}
section.mainbanner .holder {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
section.mainbanner .holder .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}
section.mainbanner .holder .info .img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}
section.mainbanner .holder .info .text p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}
section.mainbanner .holder .info .text p:last-child {
  margin-bottom: 0;
  font-size: 12px;
}
section.mainbanner .holder .info .text p img {
  margin-left: 8px;
}
section.mainbanner .holder h1 {
  font-size: 64px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 40px;
  visibility: hidden;
}
section.mainbanner .holder h1 > span.gr {
  font-family: MontserratB;
  background: -o-linear-gradient(246.18deg, #6167F2 -6.85%, #00B5EE 40.01%, #55F5FF 93.96%);
  background: linear-gradient(203.82deg, #6167F2 -6.85%, #00B5EE 40.01%, #55F5FF 93.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.mainbanner a.mouse {
  display: block;
  width: 24px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 80px;
  left: -webkit-calc(50% - 12px);
  left: calc(50% - 12px);
  cursor: pointer;
  z-index: 3;
  -webkit-transition: border ease-out 0.3s;
  -o-transition: border ease-out 0.3s;
  transition: border ease-out 0.3s;
}
section.mainbanner a.mouse:hover {
  border-color: #ffffff;
}
section.mainbanner a.mouse span {
  display: block;
  width: 3px;
  height: 6px;
  background: #ffffff;
  margin: 8px auto 0;
  border-radius: 10px;
  -webkit-animation: mouse 1s infinite;
          animation: mouse 1s infinite;
}
section.mainbanner a.godown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 80px;
  left: -webkit-calc(50% - 49px);
  left: calc(50% - 49px);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  z-index: 3;
  -webkit-transition: border ease-out 0.3s;
  -o-transition: border ease-out 0.3s;
  transition: border ease-out 0.3s;
  text-transform: uppercase;
  font-family: MontserratB;
  background: -o-linear-gradient(246.18deg, #6167F2 -6.85%, #00B5EE 40.01%, #55F5FF 93.96%);
  background: linear-gradient(203.82deg, #6167F2 -6.85%, #00B5EE 40.01%, #55F5FF 93.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
  -webkit-animation: mouse 1s infinite;
          animation: mouse 1s infinite;
}
section.portfolio {
  width: 100%;
  background: #000;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 0;
  padding: 150px 0;
}
section.portfolio #particles-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
section.portfolio .title-box {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
section.portfolio .title-box .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
section.portfolio .title-box .title img {
  width: 30px;
  margin-right: 10px;
}
section.portfolio .title-box .title h2 {
  font-size: 36px;
  letter-spacing: -1.7px;
  font-weight: 400;
  background: -o-linear-gradient(246.18deg, #6167F2 -6.85%, #00B5EE 40.01%, #55F5FF 93.96%);
  background: linear-gradient(203.82deg, #6167F2 -6.85%, #00B5EE 40.01%, #55F5FF 93.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.portfolio .title-box .portfolio-slider-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 150px;
}
section.portfolio .title-box .portfolio-slider-nav .next,
section.portfolio .title-box .portfolio-slider-nav .prev {
  cursor: pointer;
}
section.portfolio .title-box .portfolio-slider-nav .next svg,
section.portfolio .title-box .portfolio-slider-nav .prev svg {
  width: 40px;
  height: 40px;
}
section.portfolio .title-box .portfolio-slider-nav p.nums {
  color: #fff;
  font-size: 16px;
}
section.portfolio .title-box .portfolio-slider-nav p.nums span {
  color: #fff;
  font-size: 16px;
}
section.portfolio .portfolio-slider {
  width: 100%;
}
section.portfolio .portfolio-slider .slide {
  height: 240px;
  margin: 0 10px;
  background: #ccc;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
section.portfolio .portfolio-slider .slide:hover .img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
section.portfolio .portfolio-slider .slide:hover .text {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
section.portfolio .portfolio-slider .slide:hover .link {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
section.portfolio .portfolio-slider .slide .img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
section.portfolio .portfolio-slider .slide a.link {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
section.portfolio .portfolio-slider .slide div.link {
  opacity: 0.95;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  background: -o-linear-gradient(246.18deg, #6167F2 -6.85%, #00B5EE 40.01%, #55F5FF 93.96%);
  background: linear-gradient(203.82deg, #6167F2 -6.85%, #00B5EE 40.01%, #55F5FF 93.96%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
section.portfolio .portfolio-slider .slide div.link img {
  width: 10px;
  height: 10px;
}
section.portfolio .portfolio-slider .slide .text {
  opacity: 0.95;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px 20px;
  width: 70%;
  border-radius: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateX(-110%);
      -ms-transform: translateX(-110%);
          transform: translateX(-110%);
  background: -o-linear-gradient(246.18deg, #6167F2 -6.85%, #00B5EE 40.01%, #55F5FF 93.96%);
  background: linear-gradient(203.82deg, #6167F2 -6.85%, #00B5EE 40.01%, #55F5FF 93.96%);
}
section.portfolio .portfolio-slider .slide .text p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 5px;
  font-weight: bold;
}
section.portfolio .portfolio-slider .slide .text span {
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
}
footer {
  padding: 100px 15px;
  background: #000;
}
footer .holder {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .holder .info {
  width: 100%;
  max-width: 400px;
}
footer .holder .info .socials-box p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 15px;
}
footer .holder .info .socials-box a {
  display: block;
  font-family: MontserratT;
  font-size: 20px;
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom: 15px;
}
footer .holder .info .socials-box a:hover {
  color: #00B5EE;
}
footer .holder .info .socials-box .socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .holder .info .socials-box .socials a {
  margin-right: 20px;
}
footer .holder .info .socials-box .socials a:last-child {
  margin-right: 0;
}
footer .holder .info .socials-box .socials a:hover svg path {
  fill: #00B5EE;
}
footer .holder .info .socials-box .socials a svg {
  width: 25px;
  height: 25px;
}
footer .holder .info .socials-box .socials a svg path {
  fill: #ffffff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
footer .holder .atom {
  width: 200px;
  height: 200px;
  position: relative;
}
footer .holder .atom > div {
  border-radius: 50%;
  border: 1px solid #00B5EE;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(80deg) rotateY(20deg);
          transform: rotateX(80deg) rotateY(20deg);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
}
footer .holder .atom > div:first-of-type:after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: rotateX(-80deg) rotateY(0);
          transform: rotateX(-80deg) rotateY(0);
  -webkit-box-shadow: 0 0 25px #fff;
          box-shadow: 0 0 25px #fff;
  -webkit-animation: nucleus_ 2s infinite linear;
          animation: nucleus_ 2s infinite linear;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -20px;
}
footer .holder .atom > div:nth-of-type(2) {
  -webkit-transform: rotateX(-80deg) rotateY(20deg);
          transform: rotateX(-80deg) rotateY(20deg);
}
footer .holder .atom > div:nth-of-type(2) > div,
footer .holder .atom > div:nth-of-type(2) > div:after {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
footer .holder .atom > div:nth-of-type(3) {
  -webkit-transform: rotateX(-70deg) rotateY(60deg);
          transform: rotateX(-70deg) rotateY(60deg);
}
footer .holder .atom > div:nth-of-type(3) > div,
footer .holder .atom > div:nth-of-type(3) > div:after {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
footer .holder .atom > div:nth-of-type(4) {
  -webkit-transform: rotateX(70deg) rotateY(60deg);
          transform: rotateX(70deg) rotateY(60deg);
}
footer .holder .atom > div:nth-of-type(4) > div,
footer .holder .atom > div:nth-of-type(4) > div:after {
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}
footer .holder .atom > div > div {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: trail_ 2s infinite linear;
          animation: trail_ 2s infinite linear;
}
footer .holder .atom > div > div:after {
  content: "";
  position: absolute;
  top: -5px;
  -webkit-box-shadow: 0 0 12px #fff;
          box-shadow: 0 0 12px #fff;
  left: 50%;
  margin-left: -5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: particle_ 2s infinite linear;
          animation: particle_ 2s infinite linear;
}
@-webkit-keyframes cube-loader {
  0%,
  10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
            transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
            transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
            transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes cube-loader {
  0%,
  10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
            transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
            transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
            transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes goup {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
}
@keyframes goup {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
}
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  min-height: 300vh;
  z-index: 9999;
  background: #000;
}
.preloader .w {
  width: 100%;
  height: 33.3%;
  background: #fff;
  position: relative;
}
.preloader .w:last-child {
  background: -o-linear-gradient(246.18deg, #6167F2 -6.85%, #00B5EE 40.01%, #55F5FF 93.96%);
  background: linear-gradient(203.82deg, #6167F2 -6.85%, #00B5EE 40.01%, #55F5FF 93.96%);
}
.preloader .w #cube-loader {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  width: 100%;
  position: absolute;
}
.preloader .w #cube-loader .caption {
  margin: 0 auto;
}
.preloader .w #cube-loader .cube-loader {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}
.preloader .w #cube-loader .cube-loader .cube {
  position: relative;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
  width: 50%;
  height: 50%;
  float: left;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.preloader .w #cube-loader .cube-loader .cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  -webkit-animation: cube-loader 2.76s infinite linear both;
          animation: cube-loader 2.76s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.preloader .w #cube-loader .cube-loader .loader-2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
      -ms-transform: scale(1.1) rotate(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.preloader .w #cube-loader .cube-loader .loader-3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
      -ms-transform: scale(1.1) rotate(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.preloader .w #cube-loader .cube-loader .loader-4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
      -ms-transform: scale(1.1) rotate(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.preloader .w #cube-loader .cube-loader .loader-2:before {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.preloader .w #cube-loader .cube-loader .loader-3:before {
  -webkit-animation-delay: 0.69s;
          animation-delay: 0.69s;
}
.preloader .w #cube-loader .cube-loader .loader-4:before {
  -webkit-animation-delay: 1.04s;
          animation-delay: 1.04s;
}
.preloader .b {
  width: 100%;
  height: 33.3%;
  background: #000;
}
@media screen and (max-width: 1440px) {
  section.mainbanner .holder h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  section.mainbanner a.mouse {
    opacity: 0;
    visibility: hidden;
  }
  section.mainbanner a.godown {
    opacity: 1;
    visibility: visible;
    bottom: 80px;
  }
  section.mainbanner .holder h1 {
    font-size: 36px;
  }
  section.portfolio .portfolio-slider .slide div.link {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  section.portfolio .portfolio-slider .slide .text {
    width: 90%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
@media screen and (max-width: 768px) {
  footer .holder .atom {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
  section.portfolio {
    padding: 50px 0;
  }
}
@media screen and (max-width: 425px) {
  section.mainbanner {
    padding-top: 150px;
    height: 100vh;
    min-height: 500px;
  }
  section.mainbanner .holder h1 {
    font-size: 28px;
  }
  footer {
    padding-top: 40px;
  }
  footer .holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .holder .atom {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
  footer .holder .info {
    text-align: center;
  }
  footer .holder .info .socials-box .socials {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 375px) {
  section.portfolio .title-box {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 20px;
  }
  section.portfolio .title-box .title {
    margin: 10px 0;
  }
  section.portfolio .title-box .portfolio-slider-nav {
    margin: 10px 0;
  }
}
